{%extends "base.html" %}

{% block title %} Welp {% endblock %}

{% import "bootstrap/wtf.html" as wtf %}

{%block page_content %}
<div class="page-header">
    <h1>{%if new_address and not error%} You want to eat in the vicinity of {{address}}
        {%elif error%}
        Not a valid query! Please try searching for another location.
        {%else%}
        Something went wrong...
        {%endif%}</h1>
    <h2>{% if new_url %} {{poll_url}} {% endif %}</h2>
</div>
{% if not error %}{{wtf.quick_form(form)}} {% endif %}
{% endblock %}
